/*
 *   flashEmailDivControls.css by Eddie Power.
 *	 Team 18 - Heisenburg 
 *	 IE Project 2015.
 *
 *   Used to hold some extra css info, custom style flash or alert
 *          type info used in cakePHP 3, also a jQuery control
 *          for a collapsoable div element in the build emails page.
 *	 Team Members: 
 *		User Documentation: Linc Lui
 *	    CSS3 & Javascript: Shash Amin
 * 	    CakePHP 3.X / DB : Eddie Power
 *	 Copyright 2015. Solemate Doormats
 *   
 */


/* ----------------------------------------------------------------
 * flash message
 * ---------------------------------------------------------------- */
.message
{
  padding: 4px;
  background-color: yellow;
  font-weight: 500;
  width: 50%;
  text-shadow: none;
}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

.error_msg {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.warning_msg {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.info_msg {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.success_msg {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.close{
   text-decoration :none;
   float: right;
}

/*
 *
 *  Eddies Build Email minimize the div css code, using jQuery to squeeze the div to nada.
 *   
*/

#widnow{
   
    height: 400px;
/*     border:solid 1px; */
}

#title_bar{
    background: #FEFEFE;
    height: 25px;
    text-align: center;
    
    width: 100%;
}
#button{
    border:solid 1px;
    width: 25px;
    height: 23px;
    font-size: large;
    float:right;
    top: 375px;
    cursor:pointer;
    z-index: 100;
}
#box{
    height: 350px;
/*     background: #DFDFDF; */
}

#slider
{
  z-index: 100;
  position: relative;
}

